<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Top Up</h4>
    <button type="button" (click)="closeModal()" class="btn-close" aria-label="Close" ></button>
</div>
<form #topUpForm="ngForm" (ngSubmit)="topUp(topUpForm)">
<div class="modal-body">
 
        <div class="mb-3">
            <label>Phone Number </label>
            <input type="number" id="phone" [(ngModel)]="phoneNumber" name="phoneNumber"  class="form-control form-control-lg"
            />
        </div>
        <div class="mb-3">
            <label>Transfer  Amount </label>
            <input type="email" id="amount"  [(ngModel)]="amount" name="amount" class="form-control form-control-lg"
            />
        </div>
 
</div>
<div class="modal-footer">
    <button type="submit" [disabled]="transferButton" class="btn btn-outline-dark" >Save</button>
    <p style="color:red" [hidden]="!transferButton">Insufficient Balance , you cannot transfer any amount when your account balance is zero , kindly top up and try again</p>

</div>
</form>