<main class="py-6 bg-surface-secondary">
    <div class="container-fluid">
<div class="pb-3">
    <button type="button" (click)="topUpUser()" class="btn btn-outline-dark">Top Up My Account</button>
</div>
<div class="card shadow border-0 mb-7">
    <div class="card-header">
        <h5 class="mb-0">All Top Ups</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                  
                    <th scope="col">Date</th>
                  
                    <th scope="col">Amount Top up </th>
                   
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of allTopUpsArray">
                 
                    <td>
                        Feb 15, 2021
                    </td>
                
                    <td>
                        {{data.amount}}
                    </td>
                  
                    <td class="text-end">
                    
                        <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
              
                <tr>
             
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 py-5">
        <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
    </div>
</div>
</div>
</main>